# VCS
.git
.gitignore

# Node / Web
node_modules
dist
build
.cache
.next
out
coverage
*.log

# Editors/OS
.vscode
.idea
.DS_Store

# Backends you don’t need in this image
vendor
storage
public/storage
tmp
*.sqlite
.env*
